<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presente de Dia dos Namorados</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>

<body>
    <div class="container">
        <h1>Presente de Dia dos Namorados</h1>
        <div class="content">
            <p>Aperte o botão apenas se você for a minha namorada (HANNAH RACHEL) e souber o signficado das palavras
                prego e humanóide!</p>

            <ul class="lista">
                <li>ISSO NÃO É UM TESTE</li>
                <li>ISSO NÃO É UM TESTE</li>
                <li>ISSO NÃO É UM TESTE</li>
                <li>ISSO NÃO É UM TESTE</li>
                <li>ISSO NÃO É UM TESTE</li>
            </ul>

            </ul>
            <a href="{% url 'video:video' %}"><button class="btn">Eu sou Hannah Rachel</button></a>
        </div>

</body>

</html>