<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recompensas</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>
<body>
    <div class="container">
        <h1>Recompensas Desbloqueadas</h1>
        <div class="content">
            <p>Se você chegou até aqui você tem direito a esssas recompensas:</p>

            <ul>
                <li>MASSAGEM</li>
                <li>UM EP DE THE OFFICE</li>
                <li>UM CHOCOLATE DE SUA ESCOLHA</li>
                <li>VOCÊ ESCOLHA ONDE A GENTE VAI ALMOÇAR</li>
                <li>UM ACESSÓRIO DA SHEIN</li>
                <li>BEIJOS E ABRAÇOS ILIMITADOS</li>
                <li>SECRETO 3 PONTINHOS...</li>
            </ul>
           
        </div>
        
</body>
</html>






